body {
    width: 1024px;
    height: 860px;
    background-color: #25aeeb;
    
}

.PG2-RetanguloEsquerda {
    width: 135px;
    height: 860px;
    background-color: rgba(7, 0, 0, 0.8);
    margin-top: 0%;
  }

  .focusfc {
    width: 105px;
    height: 108px;
    object-fit: contain;
  }

  .icons8-pessoa-do-sexo-masculino-64 {
    width: 64px;
    height: 64px;
    object-fit: contain;
  }

  .icons8-atendimento-80 {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 24px;
  }

  .icons8-calendario-100 {
    width: 64px;
    height: 64px;
    object-fit: contain;
  }

  .Retangulo-7 {
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 6px 0 rgba(255, 255, 255, 0);
    border: solid 1px rgba(255, 255, 255, 0);
  }

  .icons8-calendario-50 {
    width: 64px;
    height: 64px;
    object-fit: contain;
    opacity: 0.66;
  }

  .icons8-rolagem-128 {
    width: 64px;
    height: 64px;
    object-fit: contain;
    margin-top: 10%;
    opacity: 0.6;
  }

  .icons8-sair-100-2 {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-top: 10%;
  }

  .Caminho-6 {
    width: 1141px;
    height: 649.8px;
    border: solid px whitesmoke;
    background-color: rgba(7, 0, 0, 0.65);
    margin-top:-70%;
    margin-left: 15%;
  }

  .iconCarta {
    width: 68px;
    height: 68px;
    object-fit: contain;
    opacity: 0.66;
 }

 .Registro {
    width: 134px;
    height: 200x;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    align-self: center; 
    font-style: italic;
    line-height: 1.33;
    letter-spacing: normal;
    color:whitesmoke;
    margin-top: -310%;
    margin-left: 370%;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  .form-contact {
    width: 50%;
    font-family: "Arial", Times, serif;  }

  
  .form-contact-input {
    width: 70%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-top: 40px;;
    margin-left: 300px;
    margin-bottom: -10px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
  }
  
  /*.form-contact-textarea {
    width: 70%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
  }*/
  
  .form-contact-button {
    width: 70.5%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-left: 300px;
    margin-bottom: 20px;
    margin-top: 30px;
    cursor: pointer;
    background: #25aeeb;
    display: block;
    border: none;
    border-bottom: 1px solid #500707;
    border-right: 1px solid #500707;
    transition: 1s;
  }
  
  .form-contact-button:hover {
    opacity: 5;
  }
  .tubarao {
    width: 365px;
    height: 398px;
    object-fit: contain;
    margin-left: 906px;
    margin-top: -700px;
    margin-bottom: 200px;
    opacity: 0.7;
}
.registro {
    width: 800px;
    height: 65px;
    margin-left:370px;
    margin-top:-750px;
    margin-bottom: px;
    opacity: 0.9;
    color: whitesmoke;
}